$padding: 10px;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  & > * {
    width: 100%;
  }
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header,
footer {
  flex: 0 0 auto;
  padding: 40px 0;
}

section {
  flex: 1 1 auto;
}

.list {
  display: inline-block;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 12px $padding;

  code {
    padding: 0 4px;

    & + code {
      &:before {
        content: "|";
        color: rgba(192, 192, 192, 0.226);
        margin-right: $padding;
      }
    }
  }
}

.merge-sort {
  display: inline-block;
  width: 75%;
  padding: $padding;
  border-radius: $padding;

  .input {
    margin-bottom: $padding;

    &:only-child {
      margin: 0;
    }
  }

  .merge-sort {
    width: 50%;

    & + .merge-sort {
      border-left: 0;
      margin-bottom: $padding;
    }
  }

  .join {
    border-radius: $padding;
    padding: $padding;
  }
}

.health {
  position: relative;
  text-align: right;
  width: 500px;
  height: 0px;
}

.heart {
  height: 50px;
  
  padding-right: 5px;
}

/* Uncomment to give different colours to 'left' and 'right' arrays
.left-array {
  background-color: lightgreen;
}

.right-array {
  background-color: lightblue;
}

.dead-array {
  background-color: lightgrey;
}
*/